<ul>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <li>
        <%= comment.user %>
        <%= comment.content %>
        <%= link_to 'Edit', edit_post_comment_url(comment.post_id,comment) %>
        <%= link_to 'Destroy', post_comment_url(comment.post_id,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  <% end %>
</ul>
