<div class="user-container">
  <%= render partial: 'users/header' , locals: {user: @user} %>
  <% if @user.id == current_user.id %>
    <%= link_to '新しい記事を投稿する', new_post_url, class: "btn btn-primary btn-lg"%>
  <% end %>
  <%= render partial: 'posts/list_form' , locals: {posts: @posts, comments: @comments, comment: @comment} %>
</div>
<%= render "shared/footer" %>