<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p><%= @contact.name %> 様</p>
    <p>この度は当サイトにお問い合わせ頂きありがとうございます。<br />
    お問い合わせいただいた内容は下記の通りです。</p>
    <p>================================================================</p>
    <p>[お名前]：<%= @contact.name %> 様</p>
    <p>[メールアドレス]：<%= @contact.email %></p>
    <p>[お問い合わせ内容]：<br />
    <%= simple_format(@contact.message) %></p>
    <p>================================================================</p>
    <p>本件につきましては、内容を確認した上で改めてご連絡させて頂きます。<br />
    恐れ入りますが、今しばらお待ち下さい。</p>
    <p>以上、よろしくお願い申し上げます。</p>
  </body>
</html>