<p>
  <strong>タイトル:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>作成日:</strong>
  <%= @post.created_at %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @post.user.name %>
</p>