.top-body {
    width: 100%;
    min-height: 100%;
    background: #fff url("top-bg.jpg") no-repeat center;
    background-size: cover;
    font-family: sans-serif;
}

.top-container {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
}

.disp-box {
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

.box-flex {
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
}

.box-pack-center {
    box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
}

.box-pack-justify {
    box-pack: justify;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
}

.top-left_container {
    max-width: 50%;
    margin: 0;
    padding: 0;
}

.top-box-message {
    width: 500px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.top-box-main_text {
    text-align: center;
    margin: 0;
    h1 {
        font-size: 64px;
        text-shadow: 3px 3px 3px black, 0 0 16px rgba(0,0,0,0.7);
        margin: 0;
        padding: 10px 0 10px 0;
    }
}

.top-box-sub_text {
    border-radius: 24px;
    background-color: rgba(152,96,94,0.5);
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    p {
        font-size: 20px;
        text-shadow: 2px 2px 3px black;
        margin-left: 15px;
        padding: 20px 15px 20px 15px;
    }
}

.top-right_container {
    max-width: 50%;
    margin: 0;
    padding: 0;
}

.top-box-signup {
    border-radius: 6px;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h3 {
        font-size: 20px;
        text-shadow: 2px 2px 3px grey;
        margin-bottom: 5px;
    }
}

.form-signup {
    font-size: 13px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 15px;
            padding: 0;
        }
    }
}

.section-items {
    width: 270px;
    margin: 0 auto 0 auto;
    padding: 0 0 10px 0;
}

.word-middle {
    position: relative;
    top: 11px;
    padding: 0 15px 0 15px;
}

.line-left-50 {
    min-width: 50px;
    border-bottom: solid 2px #202f55;
}

.line-right-50 {
    min-width: 50px;
    border-bottom: solid 2px #202f55;
}

.line-left-80 {
    min-width: 80px;
    border-bottom: solid 2px #202f55;
}

.line-right-80 {
    min-width: 80px;
    border-bottom: solid 2px #202f55;
}

a.btn-signup {
    text-decoration: none;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    width: 240px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.btn-facebook {
    background-color: #305097;
}

a.btn-facebook:hover {
    background-color: rgba(48,80,151,0.8);
}

.btn-twitter {
    background-color: #00aced;
}

a.btn-twitter:hover {
    background-color: rgba(0,172,237,0.6);
}

.btn-email {
    background-color: #b33e5c;
}

a.btn-email:hover {
    background-color: rgba(179,62,92,0.8);
}

.link-to-login {
    border: dashed 2px #202f55;
    border-radius: 4px;
    width: 220px;
    margin: 25px auto 30px auto;
    padding: 5px;
    a {
        text-decoration: none;
        font-size: 14px;
        color: #192f60;
    }
    a:hover {
        color: #e73562;
    }
}